In [1]:
import torch
import numpy as np
from torch.utils.data import Dataset, DataLoader
import torch.nn.functional as F
import torch.nn as nn
import torch.optim as optim
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
titanic = pd.read_csv('data/titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
class TitanicDataset(Dataset):

    def __init__(self, csv_file, train, root_dir='/data/'):
        self.root_dir = root_dir
        self.train = train
        csv_path = root_dir+csv_file
        self.titanic_X, self.titanic_Y = self.preprocessing(csv_path)
        return
    
    def preprocessing(csv_path):
        titanic_df = pd.read_csv(csv_path)

        titanic_X = titanic_df[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex', 'Embarked']]
        titanic_Y = titanic_df['Survived']

        return titanic_X, titanic_Y
    
    def __len__(self):
        return
    
    def __getitem__(self, idx):
        if torch.is_tensor(idx):
            idx = idx.tolist()

        return

In [4]:
TitanicDataset('titanic.csv', train=True)

TypeError: TitanicDataset.preprocessing() takes 1 positional argument but 2 were given